html {
    background-color: gray;
}
body{
    margin-right: 2rem;
    margin-left: 2rem;
    width: 80vw; 
    /* color: white; */
    /* text-align: center; */
}
.head {
    display: flex;
    justify-content: space-between;
}
header {
    color: rgb(255, 128, 0);
    font-size: 2rem;
    font-weight: bolder;
}
nav {
    display: flex;
    justify-content: space-around;
    margin-top: 0.8rem;
}
nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-left: 3rem;
    font-size: 12px;
}
.text {
    margin-top: 0.5rem;
    /* color: white; */
    
}
#texts {
    background-color: gray;
    border: 1px solid rgb(255, 128, 0);
    margin-right: -5px;
    color: white;
}
/* #texts:hover{
    border: 1px solid rgb(255, 128, 0);
} */
button {
    background-color: rgb(255, 128, 0);
    border: 1px solid rgb(255, 128, 0);
    color: white;
}
main {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}
.mainLeft {
    color: white;
}
.mainLeftFirst {
    font-size: 2.5rem;
    font-weight: bolder;
    text-transform: capitalize;
    margin-bottom: -32px;
}
span {
    color: rgb(255, 128, 0);
}
.mainLeftThird {
    color: black;
    border-radius: 3px;
    width: 7rem;
    height: 1.5rem;
    text-transform: uppercase;
    padding: 0 2px;
    font-weight: bold;
}

.mainRight {
    background-color: black;
    border: 2px solid black;
    margin-left: 3px;
    padding: 2rem;
    color: white;
    border-radius: 5px;
}
.login {
    margin-top: -2.2rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    color: rgb(255, 128, 0);
}
#mail,
#password {
    border: none;
    border-bottom: 1px solid rgb(255, 128, 0);
    background-color: black;
    margin-bottom: 1.5rem;
}
.submit {
    background-color: rgb(255, 128, 0);
    color: black;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}
.submit a,
.mainLeftThird a{
    text-decoration: none;
    color: black;
}
.signup {
    text-align: center;
}
.signup a{
    color: rgb(255, 128, 0);
    text-transform: capitalize;
}
.log {
    text-align: center;
}
/* input[type="text"]{
    color: white;
    background-color: yellow;
    background-color: gray;
    border: 1px solid rgb(255, 128, 0);
    margin-right: -5px;
} */